@import '../../styles/default.scss';

.header__wrapper {
  @include wh(100%, 60px);
  background-color: $btnBackColorHover;
  padding: 0 15px;
}

.header__title {
  color: $title;
}

.header__container {
  @include wh(inherit, 60px);
  @include flex($justify-content: space-between);
}

.header__nav {
  @include wh(450px, 60px);
  @include flex($justify-content: space-between);
}

.header__btn {
  @include btn();
  background-color: #574b75 !important;
}

.header__btn:hover {
  @include btn-hover();
  background-color: #574b754d !important;
}

.header__link {
  text-decoration: none;
}