@import '../../styles/default.scss';

.footer__wrapper {
  @include wh(100%, 60px);
  @include flex;
  gap: 1.5rem;
  padding: 0 15px;
  background-color: $btnBackColorHover;

    .footer__link {
      text-decoration: none;
      font-size: 1.5rem;
      color: $title;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }

    .footer__link:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }

    .footer__text {
      font-size: 1.5rem;
      color: $title;
    }
}