@import "../../styles/default.scss";

.container {
  @include flex($justify-content: center);
  margin-top: 5%;
  gap: 15%;
}

svg {
  top: -7%;
}

.message-box {
  height: 200px;
  width: 280px;
  color: $btnBackColor;
  font-family: Roboto;
  font-weight: 300;
}

.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}

.buttons-con .action-link-wrap a {
  @include btn($font-size: 14px);
  padding: 8px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
  @include btn-hover();
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
  animation-delay: .2s; 
}

#Polygon-3 {
  animation-delay: .4s; 
}

#Polygon-4 {
  animation-delay: .6s; 
}

#Polygon-5 {
  animation-delay: .8s; 
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}